@media (min-width: 0px) and (max-width: 992px) {
 .list-groups {
    display: flex;
    flex-wrap: mo-wrap;
justify-content: center;
background-color:rgb(116, 230, 253);
    }
}
h1 {text-align: center;}
.list-groups {
   text-align: center;
}
.inside {
    padding-left: 15px;
padding-right: 15px;
line-height: 1.75;
}
h2 {
    font-size: 35px; 
}
.paragraph{
    font-size: 24px;
}
.padd {
    padding-left: 10px;
    padding-right: 10px;   
}
.col-sm-12.col-md-12.col-lg-2 {
    background-color:rgb(116, 230, 253);
}
.col-sm-12.col-md-8.col-lg-7 {
    background-color: rgb(116, 230, 253);
}